---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";
import atom2 from "../images/atom2.svg";
import bio from "../images/bio.svg";
import headshot from "../images/headshot.webp";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-headshot">
    <img class="headshot" src={headshot} alt="headshot of Dave Long" />
  </div>
  <h2>Early Years with Computers and Programming</h2>
  <p>
    Since I was young, I’ve had an interest in computers and programming. went
    to elementary school in the 80s, and my family had a Commodore 64 computer.
    It was glorious. It was a large, curved plastic box with a keyboard that had
    a computer in it. You plugged it into a power supply and a color TV. When
    you turned it on, it showed a bright blue screen with a flashing square
    cursor, a command prompt. Before you could do anything, you had to enter a
    command using the Basic programming language. I’ll always remember that blue
    start-up screen. We also had an IBM-compatible computer that had a yellow
    and black screen that my father used for writing.
  </p>
  <p>
    Thinking back, those computers seemed almost magical to me. Although I was
    mainly interested in playing computer games on them, I also remember
    learning to write code in Basic. I wrote some simple text-based programs,
    and I enjoyed surprising my friends with them. These programs would talk and
    interact with my friends and refer to them by their names.
  </p>
  <p>
    Some of my fondest memories as a child involve playing video games on that
    Commodore 64. We had a sea of floppy disks with stickers on them and the
    game titles written out by hand. Some of my favorites included Lode Runner,
    Jump Man, Pipes, and Frogger.
  </p>
  <h2>College & Law School</h2>
  <p>
    I have an undergraduate degree in liberal arts from Boston University where
    I majored in philosophy with a focus on the modern analytic tradition. One
    of the reasons I chose this area of focus was because of my interest in
    formal logic and their relationship to math, programming, and computer
    science. I also have a law degree from St. John’s Law School.
  </p>
  <h2>Learning and Teaching Computer Programming and Web Development</h2>
  <p>
    Over the last year or so, I’ve rekindled my early interest in computers and
    programming, and I’ve begun learning and working with software development.
    The first programming language I learned was python. I really enjoying
    learning it and learning the basic concepts of programming in the process. I
    then jumped into HTML, CSS, and Javascript, along with other front-end web
    development skills.
  </p>
  <div class="container">
    <img class="atom2" src={atom2} alt="depiction of an atom-like structure" />
  </div>
  <h2>Open to Collaborations</h2>
  <p>
    If you’re interested in collaborating on a project or building a web site
    together, or if you’re also learning to code and you get stuck and want to
    talk things over, feel free to get in touch with me
  </p>
  <div class="container">
    <img class="bio" src={bio} alt="depiction of an atom-like structure" />
  </div>
</BaseLayout>

<style>
  .container-headshot {
    display: flex;
    justify-content: center;
  }
  .headshot {
    max-width: 30vh;
    border-radius: 25px;
    margin: 2rem;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .atom2 {
    width: 200px;
    height: 200px;
  }
  .bio {
    width: 200px;
    height: 200px;
  }
</style>
