---
import BaseLayout from "../layouts/BaseLayout.astro";
import atom from "../../src/images/atom.svg";
import headshot from "../images/headshot.webp";

const pageTitle = "Software Development"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-headshot">
    <img class="headshot" src={headshot} alt="headshot of Dave Long" />
  </div>
  <h2>Building, Teaching, and Learning</h2>
  <p>
    Hi. Welcome to davelongdev.com. I am a software developer in the early stages
    of a new career. At the moment, I'm mostly focused on front-end web
    development, although I have many interests within the field of computer
    science, such as networking, web scraping, AI / Machine Learning, back-end development,
    and full-stack development. I realling enjoy coding and working with
    computers.
  </p>
  <p>
    If you're interested in working together, collaborating on a project, or
    need help with something relating to programming, feel free to get in touch.
  </p>
  <div class="container">
    <img class="atom" src={atom} alt="depiction of an atom" />
  </div>
  <p>
    NOTE: This web site is under construction. I will be adding to it and
    updating the site over the coming weeks and months.
  </p>
</BaseLayout>

<style>
  .container {
    display: flex;
    justify-content: center;
  }
  .atom {
    width: 200px;
    height: 200px;
  }

  .container-headshot {
    display: flex;
    justify-content: center;
  }
  .headshot {
    max-width: 30vh;
    border-radius: 25px;
    margin: 2rem;
  }
</style>
