---
import BaseLayout from "../layouts/BaseLayout.astro";
import laptop from "../../public/laptop.svg";
import headshot from "../../public/headshot.svg";

const pageTitle = "Homepage (H1)"
---

<BaseLayout pageTitle={pageTitle}>
  <div class="container-headshot">
    <img class="headshot" src={headshot} alt="a headshot"} />
  </div>
  <h2>Subheading (H2)</h2>
  <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ipsa perspiciatis suscipit ea molestiae ex minima aut illum unde nisi autem, obcaecati in sunt dignissimos facere non incidunt dolorem magnam.
  </p>
  <p>
  Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim. Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et culpa duis.
  </p>
  <div class="container">
    <img class="laptop" src={laptop} alt="depiction of a laptop" />
  </div>
  <p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores perspiciatis reiciendis, enim, repellat sit excepturi quaerat esse deleniti repudiandae, aperiam iure iste! Rerum aperiam voluptates atque repellat nam eos perferendis.
  </p>
</BaseLayout>

<style>
  .container {
    display: flex;
    justify-content: center;
  }
  .laptop {
    width: 200px;
    height: 200px;
  }

  .container-headshot {
    display: flex;
    justify-content: center;
  }
  .headshot {
    max-width: 30vh;
    border-radius: 25px;
    margin: 2rem;
  }
</style>
